p{
	font-family:  cursive, sans-serif;
}
*{
	font-family: sans-serif, initial;
	font-size: 20px;
}
h1{
	font-size: 60px;
}


img + ul{
	list-style-type: none;
}

section img{
	border-radius: 150px;
}

ul ~ p{
	text-align: center;
}
section > h4{
	letter-spacing: 10px;
}
.pink{
	color: pink;
}
#selector{
	font-size: 30px;
}
.list{
	background: skyblue;
}

li[a]{
	border-style: solid;
	border-width: 3px;
	border-color: blue;
}